######################################################################
# config variables 
######################################################################

#Provider variable

AzureSubscriptionID                     = ""
AzureClientID                           = ""
AzureClientSecret                       = ""
AzureTenantID                           = ""

RGLogName                               = ""
LawSubLogName                           = ""
STASubLogName                           = ""
Environment                             = ""
UAISuffix                               = ""
KeyVaultSecretSuffix                    = ""

AKSClusterAdminsIds                     = ""
AKSSSHKey                               = ""

SubACG                                  = ""