terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
*.tfstate*
.terraform/
crash.log
*.log
/Tests/*
terraformbackendconfig.tf
/03_PodIdentity_Yaml/PodId/*.yaml
/03_PodIdentity_Yaml/SecretStore/*.yaml
/03_PodIdentity_Yaml/demo-pod.yaml
04_stuff